@font-face {
  font-family: 'Stolzl';
  src: local('./Assets/fonts/Stolzl-Medium.eot'), local('eot'),
  url('./Assets/fonts/Stolzl-Medium.woff2') format('woff2'),
  url('./Assets/fonts/Stolzl-Medium.woff') format('woff'),
  url('./Assets/fonts/Stolzl-Medium.woff2') format('ttf');
  font-weight: 500;
  font-style: normal;
}

