.search{
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: flex-end;
  font-size: 12px;
  margin-bottom: 25px;
  .search_title{
    color: #5C5F60;
    margin-right: 15px;
  }
}

.searching{
  display: none;
  border: 1px solid $border_color;
  padding: 7px 10px;
  border-radius: $border_radius;
  margin: 10px 0;
  @include laptop{
    display: flex;
    margin: 0 0 0 70px;
  }
  @include desktop{
    width: 46%;
  }
  input{
    width: 100%;
    border: none;
    margin-left: 10px;
    font-size: 12px;
    &:focus{
      outline: none;
      border: none;
    }
  }
}