


.header {
  grid-area: header;

  .top-banner {
    position: relative;
    display: flex;
    align-items: center;
    padding: 5px 15px;
    justify-content: center;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      height: 100%;
      width: 100vw;
      left: 50%;
      margin-left: -50vw;
      background-color: #CBDCFF;
      z-index: -1;
    }
    .banner_icons{
      display: flex;
      align-content: center;
      align-items: center;
      margin-right: 10px;
    }
    .banner_text{
      text-align: center;
      font-size: 12px;
      @media (min-width: 450px){
        font-size: initial;
      }
    }
  }

  .header_content {
    display: flex;
    padding: 25px 0 10px;
    align-items: center;
    justify-content: space-between;
    @include laptop{
      padding: 25px 0;
    }
    .searching{
      display: none;
      @include laptop{
        display: block;
      }
    }
    .btn_add_product{
      display: none;
      @include laptop{
        display: block;
      }
    }
    .language-switcher{
      display: none;
      @include laptop{
        display: flex;
      }
      align-items: center;
      align-content: center;
      position: relative;
      padding: 7px 15px;
      .current_language{
        cursor: pointer;
        &:hover{
          color: $link_color_hover;
          img{
            filter: invert(42%) sepia(98%) saturate(1857%) hue-rotate(205deg) brightness(100%) contrast(102%);
          }
        }
      }
      img{
        margin-left: 10px;
      }
      ul{
        position: absolute;
        top: calc(100% + 5px);
        background-color: $background_color;
        border: 1px solid $border_color;
        z-index: 2;
        width: 100%;
        right: 0;
        li{
          padding: 7px 15px;
        }
      }
    }
    .menu_additional {
      display: none;
      align-items: center;
      align-content: center;
      margin-top: 5px;
      @include laptop{
        display: flex;
      }
      > div {
        position: relative;
        margin-left: 20px;
        &:first-child{
          margin-left: 0;
        }
        .badge {
          position: absolute;
          display: flex;
          align-items: center;
          justify-content: center;
          top: -7px;
          right: -5px;
        }
      }
      .favorite_products,.notification,.basket{
        cursor: pointer;
        &:hover{
          img{
            filter: invert(42%) sepia(98%) saturate(1857%) hue-rotate(205deg) brightness(100%) contrast(102%);
          }
        }
      }
      .notification{
        .badge{
          background-color: #FF5449;
          color: #ffffff;
        }
      }

    }
    .user_avatar{
      display: none;
      align-content: center;
      align-items: center;
      cursor: pointer;
      @include laptop{
        display: flex;
      }
      &:hover{
        img:last-child{
          filter: invert(42%) sepia(98%) saturate(1857%) hue-rotate(205deg) brightness(100%) contrast(102%);
        }
      }
      img:last-child{
        margin-left: 10px;
      }
    }
    .menu_burger{
      width: 30px;
      @include laptop{
        display: none;
      }
    }
  }

  .navigation {
    @media (max-width: 978px){
      display: block;
      width: 90vw;
      height: 100%;
      background-color: $background_color;
      color: $text_color;
      font-size: 25px;
      padding: 20px 0;
      position: fixed;
      z-index: 2;
      top: 0;
      overflow-x: hidden;
      overflow-y: auto;
      right: -100%;
      .filters_title{
        padding: 0 25px;
      }
    }
    @include tablet {
      width: 50vw;
    }
    position: relative;
    @include laptop{
      width: initial;
      display: block;
    }
    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      height: 1px;
      width: 100vw;
      left: 50%;
      margin-left: -50vw;
      background-color: $border_color;
      z-index: -1;
    }

    ul {
      @include laptop{
        display: flex;
        flex-wrap: wrap;
      }


      li {
        border-bottom: 1px solid $border_color;
        @include laptop{
          border-bottom: none;
        }
        a {
          display: block;
          padding: 15px;
          text-transform: uppercase;
          font-weight: 500;
          font-size: 13px;
        }
      }
    }
  }
}