.products{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 15px;
  @include tablet{
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
    grid-gap: 25px;
  }
  @include laptop{
    margin-left: 25px;
  }
}