$primary_color: #EFF1F1;
$second_color: #2D3132;

$gray_color: #EFF1F1;

$text_color: #111111;

$link_color: #111111;
$link_color_hover: #4682ff;

$border_color: #EFF1F1;
$background_color: #ffffff;

$button_background_color:  #2D3132;
$button_background_color_hover: #111111;
$button_text_color: #ffffff;
$button_text_color_hover: #ffffff;

$border_radius: 4px;
$fontFamily : 'Merriweather Sans';



